- content_for :top_content do
  .jumbotron
    .container-fluid
      .row
        %p#home-title.col-sm-4.col-sm-offset-1.category-title
          - if @selected_category
            = @selected_category.name

    .container
      #books_grid
        = render partial: 'books/book_list', locals: { books: @books }
