{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <p class="verification-title col-sm-4 col-sm-offset-1">{% trans "Login" %}</p>
        </div>
        <div class="row">
            <p class="verification-sub-title col-sm-4 col-sm-offset-1">{% blocktrans %}Don't
                have an account? {% endblocktrans %} <a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></p>
        </div>
        <br>
        <div class="row">
            <form class="signup form-horizontal col-sm-4 col-sm-offset-1" id="id_login" method="post" role="form"
                  action="{% url 'account_login' %}">
                {% csrf_token %}
                <div class="container-fluid">
                    <div class="row well">
                        {{ form|bootstrap_horizontal }}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                    </div>
                    <div class="row center-content">
                        <div class="col-sm-7 remember-forgot-section">
                            <a class="forgot"
                               href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                        </div>
                        <div class="col-sm-5 col-sm-offset-6 vcenter">
                            <button type="submit" class="btn btn-primary gradient"
                                    id="login_button">{% trans "Send" %}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br><br>
{% endblock %}
