{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <p class="verification-title col-sm-4 col-sm-offset-1">{% trans "Password Reset" %}</p>
        </div>
        {% if user.is_authenticated %}
            <div class="row">
                {% include "account/snippets/already_logged_in.html" %}
            </div>
        {% endif %}
        <br>
        <div class="row">
            <form method="POST" action="{% url 'account_reset_password' %}"
                  class="password_reset form-horizontal col-sm-4 col-sm-offset-1">
                {% csrf_token %}
                <div class="container-fluid">
                    <div class="row well">
                        {{ form|bootstrap_horizontal }}
                    </div>
                    <div class="col-sm-5 col-sm-offset-7 vcenter">
                        <button type="submit" class="btn btn-primary gradient"
                                id="reset_password_button">{% trans "Reset Password" %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br><br>
{% endblock %}
