{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <p id="verification_title"
               class="verification-title col-sm-4 col-sm-offset-1">{% trans "Change Password" %}</p>
        </div>
        <div class="row">
            <p class="verification-sub-title col-sm-5 col-sm-offset-1">
                {% trans 'Your password is now changed.' %}</p>
        </div>
    </div>
    <br><br>
{% endblock %}
