{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <p id="verification_title"
               class="font-weight-bold font-size-14 text-color-orange col-sm-4 col-sm-offset-1">{% trans "Change Password" %}</p>
        </div>
        <div class="row">
            <p class="font-weight-bold font-size-12 col-sm-5 col-sm-offset-1">
                {% trans 'Your password is now changed.' %}</p>
        </div>
    </div>
    <br><br>
{% endblock %}
