{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <p class="verification-title col-sm-4 col-sm-offset-1">
                {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</p>
        </div>
        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p class="verification-sub-title col-sm-4 col-sm-offset-1">{% blocktrans %}The password reset link was
                invalid, possibly because it has already been used.  Please
                request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
        {% else %}
            {% if form %}
                <form method="POST" action="." class="form-horizontal col-sm-4 col-sm-offset-1">
                    {% csrf_token %}
                    <div class="container-fluid">
                        <div class="row well">
                            {{ form|bootstrap_horizontal }}
                        </div>
                        <div class="col-sm-5 col-sm-offset-7 vcenter">
                            <button type="submit" class="btn btn-primary gradient"
                                    id="change_password_button" name="action">{% trans "change password" %}</button>
                        </div>
                    </div>
                </form>
            {% else %}
                <p class="col-sm-4 col-sm-offset-1">{% trans 'Your password is now changed.' %}</p>
            {% endif %}
        {% endif %}
        <br>
    </div>
    <br><br>
{% endblock %}
