{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <p id="verification_title"
               class="font-weight-bold font-size-14 text-color-orange col-sm-4 col-sm-offset-1">{% trans "Verify Your E-mail Address" %}</p>
        </div>
        <div class="row">
            <p class="font-weight-bold font-size-12 col-sm-5 col-sm-offset-1">
                {% blocktrans %}{{ user.is_anonymous }}We have sent an e-mail to you for verification. Follow the link
                    provided to finalize the
                    signup process. Please contact us if you do not receive it within a few
                    minutes.{% endblocktrans %}</p>
        </div>
    </div>
    <br><br>
{% endblock %}
