.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-info;
}

.jumbotron {
  background-color: white;
}

.top-header {
  margin-bottom: 30px;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  line-height: 18px;
  font-family: 'Open Sans', sans-serif;
  color: $mine-shaft;
}

a {
  color: $endeavour;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  img {
    border: 0;
  }
}

input,
textarea,
select {
  font-size: 10pt;
  font-family: arial, sans-serif;
}

textarea {
  overflow: auto;
}

input {
  &[type='password'],
  &[type='text'],
  &[type='date'],
  &[type='number'],
  &[type='email'] {
    -moz-box-sizing: border-box;
    padding: 5px 10px;
    font-size: 12pt;
  }
}

footer {
  background-color: $soya-bean;
  color: white;
  padding: 0;
}

#logo {
  float: left;
  color: white;
  letter-spacing: -1px;
  font-weight: bolder;
  line-height: 1;
  background: linear-gradient(to right, black 68%, white 32%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &:hover {
    text-decoration: none;
  }
}

.form-control {
  border: 0px none;
}

.sprite {
  background: image-url("sprite.png") no-repeat;
}

.calendar-icon {
  width: 50px;
  /* Icon width */
  height: 50px;
  /* Icon height */
  display: inline-block;
  /* Display icon as inline block */
  background-position: -276px -143px;
  /* Icon background position in sprite */
}

.sub-footer {
  background-color: $millbrook;
  display: table-cell;
  vertical-align: bottom;
}

.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}

.top-nav {
  padding-top: 24px;
  padding-bottom: 24px;
  background: image-url("background-top-nav.jpg");
}

.cl {
  display: block;
  height: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -4000px;
  clear: both;
}

.notext {
  font-size: 0;
  line-height: 0;
  text-indent: -4000px;
}

.left,
.alignleft {
  float: left;
  display: inline;
}

.right,
.alignright {
  float: right;
  display: inline;
}

.remember-forgot-section {
  text-align: left;
  margin: 8px auto;
  font-size: 10pt;
}

.forgot {
  margin-left: 10px;
}

.footnote {
  text-align: left;
  margin: 8px auto;
  font-size: 12pt;
}

.font-size-38 {
  font-size: 38pt;
}

.font-size-20 {
  font-size: 20pt;
}

.font-size-17 {
  font-size: 17pt;
}

.font-size-14 {
  font-size: 14pt;
}

.font-size-12 {
  font-size: 12pt;
}

.font-weight-bolder {
  font-weight: bolder;
}

.font-weight-bold {
  font-weight: bold;
}

.font-weight-normal {
  font-weight: normal;
}

.text-color-orange {
  color: $bookstore-orange;
}

.text-color-white {
  color: $white;
}

.text-color-black {
  color: $black;
}

.center-content {
  display: flex;
  align-items: center;
}

.btn {
  padding: 10px 30px;
  border: 0;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  &:focus,
  &:active:focus,
  &.active:focus {
    outline: 0;
  }
}

.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  background: $bookstore-orange;
  color: $white;
  &:hover,
  &:focus,
  &:active,
  &.active {
    background: $lightning-yellow;
  }
}

.open > .dropdown-toggle.btn-primary {
  background: $lightning-yellow;
}

.btn-primary {
  &:active,
  &.active {
    background: $geebung;
    box-shadow: none;
  }
  &:hover,
  &:focus,
  &:active,
  &.active {
    color: $white;
    background-color: $buddha-gold;
    border-color: $geebung;
  }
}

.open .dropdown-toggle.btn-primary {
  color: $white;
  background-color: $buddha-gold;
  border-color: $geebung;
}

.btn-primary.gradient {
  background: linear-gradient(to bottom, $amber 50%, $bookstore-orange 50%);
  filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$amber', endcolorstr='$bookstore-orange', gradienttype=0);
  &:hover {
    background: linear-gradient(to bottom, $supernova 50%, $lightning-yellow 50%);
    filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$supernova', endcolorstr='$lightning-yellow', gradienttype=0);
  }
  &:focus {
    background: linear-gradient(to bottom, $supernova 50%, $lightning-yellow 50%);
    filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$supernova', endcolorstr='$lightning-yellow', gradienttype=0);
  }
  &:active {
    background: linear-gradient(to bottom, $supernova 50%, $lightning-yellow 50%);
    filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$supernova', endcolorstr='$lightning-yellow', gradienttype=0);
    background: linear-gradient(to bottom, $buddha-gold 50%, $geebung 50%);
    filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$buddha-gold', endcolorstr='$geebung', gradienttype=0);
  }
  &.active {
    background: linear-gradient(to bottom, $supernova 50%, $lightning-yellow 50%);
    filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$supernova', endcolorstr='$ightning-yellow', gradienttype=0);
    background: linear-gradient(to bottom, $buddha-gold 50%, $geebung 50%);
    filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$buddha-gold', endcolorstr='$geebung', gradienttype=0);
  }
}

.open > .dropdown-toggle.btn-primary {
  background: linear-gradient(to bottom, $supernova 50%, $lightning-yellow 50%);
  filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$supernova', endcolorstr='$lightning-yellow', gradienttype=0);
}

.caret.caret-up {
  border-top-width: 0;
  border-bottom: 4px solid $white;
}

.dropdown-state {
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  position: absolute;
  top: -12px;
  left: 12px;
  content: '';
}

.dropdown ul.dropdown-menu {
  border-radius: 4px;
  box-shadow: none;
  margin-top: 15px;
  width: 250px;
  &:before {
    @extend .dropdown-state;
    border-bottom: 12px solid $white;
    z-index: 10;
  }
  &:after {
    @extend .dropdown-state;
    border-bottom: 12px solid $silver;
    z-index: 9;
  }
}

.verification-title {
  font-weight: bold;
  font-size: 14pt;
  color: $bookstore-orange;
}

.verification-sub-title {
  font-weight: bold;
  font-size: 12pt;
}

.top-actions {
  margin-top: -20px;
  background-color: $soya-bean;
  padding: 10px 0;
}

.btn-search {
  width: 42px;
  height: 42px;
  display: inline-block;
  background-position: -579px -39px;
}

.top-actions .dropdown .dropdown-menu,
.top-actions .dropdown .dropdown-toggle {
  width: 100%;
  border-radius: 0;
  text-shadow: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#dropdown-categories {
  background: $millbrook;
  color: white;
}

#dropdown-categories .white-arrow-down {
  width: 20px;
  height: 10px;
}

#dropdown-cart {
  background: $persian-green;
  color: white;
  margin: -10px 0;
}

#dropdown-cart .white-arrow-down {
  height: 10px;
  width: 20px;
}

#cart-value {
  margin: 0 3px;
}

#cart-no-items {
  margin: 0 3px;
  padding: 12px;
}

.white-arrow-down {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-position: -381px -54px;
}

.black-arrow-down {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-position: -427px -54px;
}

.orange-arrow-down {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-position: -476px -51px;
}

.custom-caret-up {
  transform: rotate(180deg);
}

.cart-icon {
  width: 100px;
  height: 50px;
  display: inline-block;
  background-position: -590px -140px;
}

.you-like-this-icon {
  width: 90px;
  height: 30px;
  display: inline-block;
  background-position: -32px -214px;
}

.fb-share-icon {
  width: 75px;
  height: 28px;
  display: inline-block;
  background-position: -128px -221px;
}

.twitter-share-icon {
  width: 75px;
  height: 28px;
  display: inline-block;
  background-position: -244px -221px;
}

.google-plus-share-icon {
  width: 75px;
  height: 28px;
  display: inline-block;
  background-position: -359px -221px;
}

.comment-icon {
  width: 100px;
  height: 28px;
  display: inline-block;
  background-position: -474px -221px;
}

.talk-box-icon {
  width: 50px;
  height: 30px;
  display: inline-block;
  background-position: -26px -272px;
}

.green-star-icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-position: -518px -145px;
}

.gray-star-icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-position: -539px -145px;
}
