$mine-shaft: #383838;
$endeavour: #0252AA;
$soya-bean: #62594F;
$millbrook: #5B4635;
$bookstore-orange: #FDB62B;
$lightning-yellow: #FAC722;
$geebung: #D48E1C;
$buddha-gold: #CE9708;
$white: #FFFFFF;
$black: #000000;
$amber: #FFC400;
$supernova: #FED00A;
$silver: #CCCCCC;
